body {
  text-align: center;
  background-color: #f7d9d9;
}

h1 {
  font-size: 2.5rem;
  color: #126e82;
  font-family: "Arvo", cursive;
}

.parts {
  margin: 1% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.buttons {
  outline: none;
  border: 3px solid #126e82;
  font-size: 1.5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 300;
  color: white;
  text-shadow: 2px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 6em;
  height: 3em;
  text-align: center;
  margin: 10px;
  background-color: #eb596e;
}
